<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fontawesome/css/all.css')}}">
    {% endblock%}
</head>
<body background={{url_for('static',filename='main-opa.jpg')}}>
{% include "header.html" %}
<div class="container">
    <div class="d-flex justify-content-center text-white"><h1>智水</h1></div>
    <div class="text-white"><p>
        “智水——基于人工智能的污水处理数字孪生系统”项目主要产品为污水处理厂的数字孪生体：
        核心部分由三维模型单元、污水处理机理单元、数据驱动单元、CFD单元和模型预测控制单元五部分构成，
        可在虚拟空间中完成污水厂实体映射，反映污水处理厂管理的全过程，
        为工业4.0时代的污水处理厂优化运行提供技术思路，达到节能降耗等目的。</p>
        <p>团队有核心成员10名，均为本科以上学历。团队致力于成为拥有国内先进技术的污水处理厂在线优化运行系统的行业先驱。</p>
        <hr>
        <p class="font-weight-bold">行业背景</p>
        <p>污水处理厂对改善我国水环境质量发挥了巨大作用。目前我国在运污水厂为10113座，日处理污水量约为1.6亿立方米，以北控水务为例，一天处理3776万吨污水。我国污水处理系统工艺设计虽然已接近国际水平，但是我国污水厂运行管理基本上靠人为经验，能耗偏高，精细化运行调控手段缺乏，运行管理智能化方面严重滞后。
            通过智能化手段对污水厂运行进行精细化管理，有效减少污水厂的能耗、药耗，实现污水厂的少人、无人值守，是未来污水厂运行的必由之路，
            国内在基于人工智能的污水厂运行控制解决方案集成和软件开发方面基本处于空白，仅有的Biowin,迅模，GPS-X，West(DHI)等软件价格高昂，
            大规模商业应用存在困难。因此，国内水处理软件市场潜力巨大。</p>
        <hr>
        <p class="font-weight-bold">产品介绍</p>
        <p>污水处理数字孪生（Digital Twin）系统是充分利用物理模型、传感器更新、运行历史等数据，集成多学科、多物理量、多尺度、多概率的仿真过程，在虚拟空间中完成映射，从而反映相对应的实体装备的全生命周期过程。本产品系统在实体的污水处理厂基础上，研发基于人工智能的城市污水厂数据驱动模型和污水处理工艺过程机理模型，形成相应软件，创造一个数字版污水处理厂“克隆体”。</p>
        <p>本产品系统可以用于模型预测控制（model predictive control），实现对污水处理厂进水水量水质的预测和基于出水水质目标的优化反馈控制以及污水处理工艺单元的运行状况实时预测模拟。
            同时，团队还拟定提供污水处理产品系统，还提供智能化、个性化增值服务。用户咨询服务是基于模型预测控制的一项给客户或潜在客户提供的问答、建议服务，作为本公司一项重要的吸引客户的手段和盈利式。提供客观评价污水处理厂处理性能的评估体系以及对评估出现的问题进行优化控制的服务，并提供系统性的解决方案。</p>
        <hr>
        <p class="font-weight-bold">技术原理</p>
        <p>污水处理是一个复杂的非线性系统，其间要发生各种物理和生化反应，流量和负荷都会有巨大的扰动。然而污水处理厂的这种系统必须连续运行，而且还面临着越来越严格的各种约束。仿真技术给这种方案之间的比较提供了一个划算的方法，但是，要进行各种方案之间的仿真比较，一个标准化的协议是非常必要的。每一种控制方案必须要在同样的条件下进行仿真，以保证公平的比较。计算机仿真结果的可信性，要建立在试验或者是有全面的数据支持基础之上。BSM1 所用的过程模型是已被认可的活性污泥一号模型（ASM1）和双指数沉淀速度模型。因此仿真的价值及可信度大大提高。</p>
        <p>ASM1 考虑了 13 种水质组份，并将其分为溶解性组份和颗粒性组份 2 大类。溶解性组份包括惰性有机碳（SI）、快速可生物降解有机碳（SS）、溶解氧（SO）、硝态氮（SNO）、氨氮（SNH）、可生物降解有机氮（SND）和碱度（SALK）；颗粒性组份包括惰性有机碳（XI）、慢速降解有机碳（XS）、异养菌（XB,H）、自养菌（XB,A）、微生物衰减产物（XP）和可生物降解有机氮（XND）。以上水质组份中，碱度（SALK）采用摩尔HCO3-（mmol/L）计量；有机碳（SI 、SS、XI、XS）、微生物（XB,H、XB,A）、微生物衰减产物（XP）和溶解氧（SO）采用COD（mg/L）计量；所有氮组份（SNO、SNH、SND、XND）采用N（mg/L）计量。采用 COD计量是 ASM1 的一大特色。</p>
        <br>
        <p>前馈型神经网络的原理及反向传播(BP)算法：</p>
        <p>人工神经网络（ANN），简称神经网络（Neural Network，NN）或类神经网络，在机器学习和认知科学领域，是一种模仿生物神经网络（动物的中枢神经系统，特别是大脑）的结构和功能的数学模型或计算模型，用于对函数进行估计或近似。神经网络通常是通过一个基于数学统计学类型的学习方法（Learning Method）得以优化，所以也是数学统计学方法的一种实际应用，通过统计学的标准数学方法我们能够得到大量的可以用函数来表达的局部结构空间，
            另一方面在人工智能学的人工感知领域，我们通过数学统计学的应用可以来做人工感知方面的决定问题（也就是说通过统计学的方法，人工神经网络能够类似人一样具有简单的决定能力和简单的判断能力），这种方法比起正式的逻辑学推理演算更具有优势。</p>
        <p>本项目采用的学习方法为反向传播算法（BP）。反向传播（Backpropagation，缩写为BP）是“误差反向传播”的简称，是一种与最优化方法（如梯度下降法）结合使用的，用来训练人工神经网络的常见方法。该方法对网络中所有权重计算损失函数的梯度。这个梯度会反馈给最优化方法，用来更新权值以最小化损失函数。</p>
        <p>任何监督式学习算法的目标是找到一个能把一组输入最好地映射到其正确的输出的函数。本项目中就是希望通过输入进出水数据和控制变量，在训练的过程中矫正神经网络输出的数据来使神经网络学习到相应的模式。但是，单层神经网络必须仅仅使用最基本的数据的强度来学习一个输出一个标签函数。因为它被限制为仅具有一个层，所以没有办法从输入中学习到任何抽象特征。多层的网络克服了这一限制，因为它可以创建内部表示，并在每一层学习不同的特征。第一层可能负责从控制变量和进出水数据学习到基本的特征。第二层可能就会结合第一层所学并学习识别更复杂的特征。每升高一层就学习越来越多的抽象特征，每一层都是从它下方的层中找到模式，就是这种能力创建了独立于为多层网络提供能量的外界输入的内部表达形式。 反向传播算法的发展的目标和动机是找到一种训练的多层神经网络的方法，于是它可以学习合适的内部表达来让它学习任意的输入到输出的映射。</p>
        <br>
        <p>计算流体力学</p>
        <p>CFD是计算流体力学（Computational Fluid Dynamics）的简称，是流体力学和计算机科学相互融合的一门新兴交叉学科，它从计算方法出发，利用计算机快速的计算能力得到流体控制方程的近似解。CFD兴起于20世纪60年代，随着90年代后计算机的迅猛发展，CFD得到了飞速发展，逐渐与实验流体力学一起成为产品开发中的重要手段。
CFD是基于有限体积法计算域离散化为一系列控制体积，在这些控制提上求解质量、栋梁、能量、组分等的同样守恒方程。</p>
        <br>
        <p>三维建模--BIM</p>
        <p>BIM（Building Information Modeling）技术是一种应用于工程设计、建造、管理的数据化工具，通过对建筑的数据化、信息化模型整合，在项目策划、运行和维护的全生命周期过程中进行共享和传递，使工程技术人员对各种建筑信息作出正确理解和高效应对，为设计团队以及包括建筑、运营单位在内的各方建设主体提供协同工作的基础，在提高生产效率、节约成本和缩短工期方面发挥重要作用。</p>
    </div>

</div>
{% include "footer.html" %}
{% block js %}<!--js模块区域-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper/popper.js') }}"></script>
{% endblock %}
</body>
</html>